{% extends 'base.html' %}

{% block title %}ORDER CONFIGURATION{% endblock %}

{% block content %}
<div class="config">
    <div>
        <div class="box-half">
            <h3>Payment method</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">  
                        {% csrf_token %} 
                    <tr>
                        <td value="value">{{ payment_method_form.name }}</td>
                        <td value="value">{{ payment_method_form.controler }}</td>
                        <td value="btn-col">
                            {{ payment_method_form.add_payment_method }}
                            <input type="submit" value="+">
                        </td>
                    </tr>
                    </form>
                </tbody>
                <tbody>
                    {% for payment_method in payment_methods %}
                    <tr>
                        <td>{{ payment_method.name }}</td>
                        <td>{{ payment_method.controler }}</td>
                        <td value="btn-col"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-half">
            <h3>Purchase type</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">  
                        {% csrf_token %} 
                    <tr>
                        <td value="value">{{ purchase_type_form.name }}</td>
                        <td value="btn-col">
                            {{ purchase_type_form.add_purchase_type }}
                            <input type="submit" value="+">
                        </td>
                    </tr>
                    </form>
                </tbody>
                <tbody>
                    {% for purchase_type in purchase_types %}
                    <tr>
                        <td>{{ purchase_type.name }}</td>
                        <td value="btn-col"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box">
            <h3>Process</h3>
            <table class="threshold">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Branch</th>
                        <th>Purchase type</th>
                        <th>Company threshold</th>
                        <th>Branch threshold</th>
                        <th>Process threshold</th>
                        <th>controler</th>
                        <th value="btn-col"></th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">
                        {% csrf_token %}
                    <tr>
                        <td value="value">{{ process_form.name }}</td>
                        <td value="value">{{ process_form.company }}</td>
                        <td value="value">{{ process_form.branch }}</td>
                        <td value="value">{{ process_form.purchase_type }}</td>
                        <td value="value">{{ process_form.company_threshold }}</td>
                        <td value="value">{{ process_form.branch_threshold }}</td>
                        <td value="value">{{ process_form.process_threshold }}</td>
                        <td value="value">{{ process_form.controler }}</td>
                        <td value="btn-col">
                            {{ process_form.add_process }}
                            <input type="submit" value="+">
                        </td>
                    </tr>
                    </form>
                </tbody>
                <tbody>
                    {% for process in process %}
                    <tr>
                        <td>{{ process.name }}</td>
                        <td>{{ process.company }}</td>
                        <td>{{ process.branch }}</td>
                        <td>{{ process.Purchase_type }}</td>
                        <td>{{ process.company_threshold }}</td>
                        <td>{{ process.branch_threshold }}</td>
                        <td>{{ process.process_threshold }}</td>
                        <td>{{ process.controler }}</td>
                        <td value="btn-col"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}