{% extends 'base.html' %}

{% block content %}
<div class="orders-list">
    <div>
    <p><a href="{% url 'order-create' %}">new order</a></p>
    <table>
        <thead>
            {% if controler_order %}
            <tr>
                <th><h3>Pending your authorization</h3></th>
            </tr>
            <tr>
                <th>id</th>
                <th>product</th>
                <th>asker_login</th>
                <th>controler_login</th>
                <th>controler_auth</th>
            </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for controler_order in controler_order %}
            <tr value="{{ controler_order.controler_auth }}">
              <td><a href="{% url 'order-detail' controler_order.id %}">{{ controler_order.order_id }}</td>
              <td>{{ controler_order.product }}</td>
              <td>{{ controler_order.asker_login }}</td>
              <td>{{ controler_order.controler_login }}</td>
              <td>{{ controler_order.controler_auth }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <thead>
            {% if asker_order %}
            <tr>
                <th><h3>Pending controler authorization</h3></th>
            </tr>
            <tr>
                <th>id</th>
                <th>product</th>
                <th>asker_login</th>
                <th>controler_login</th>
                <th>controler_auth</th>
            </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for asker_order in asker_order %}
            <tr value="{{ asker_order.controler_auth }}">
              <td><a href="{% url 'order-detail' asker_order.id %}">{{ asker_order.order_id }}</a></td>
              <td>{{ asker_order.product }}</td>
              <td>{{ asker_order.asker_login }}</td>
              <td>{{ asker_order.controler_login }}</td>
              <td>{{ asker_order.controler_auth }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}