{% extends 'base.html' %}

{% block content %}
<div class="orders-detail">
    <p><a href="{% url 'order-list' %}">&lt;&lt; Retour</a></p>
    <div>
        <h2 class="{{ order.controler_auth }}">{{ order.controler_auth }}</h2>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td>Order_id :</td>
                    <td class="value">{{ order.order_id }}</td>
                    <td>Date :</td>
                    <td class="value">{{ order.date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td>Asker_login :</td>
                    <td class="value">{{ order.asker_login }}</td>
                    <td>Branch :</td>
                    <td class="value">{{ order.branch }}</td>
                </tr>
                <tr>
                    <td>Process :</td>
                    <td class="value">{{ order.process }}</td>
                </tr>
                <tr>
                    <td>Purchase_type :</td>
                    <td class="value">{{ order.purchase_type }}</td>
                </tr>
                <tr>
                    <td>Payment method :</td>
                    <td class="value">{{ order.payment_method }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td>Product :</td>
                    <td class="value">{{ order.product }}</td>
                    <td>Unit price :</td>
                    <td class="value">{{ order.unit_price }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Price :</td>
                    <td class="value">{{ order.price }}</td>
                </tr>
                <tr>
                    <td>Vendor :</td>
                    <td class="value">{{ order.vendor }}</td>
                </tr>
                <tr>
                    <td>Delivery date :</td>
                    <td class="value">{{ order.delivery_date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            Asker comment :
            <p class="value">{{ order.asker_comment }}</p>
        </div>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>controler_login :</td>
                    <td class="value">{{ order.controler_login }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if order.controler_comment %}
        <div class="box">
            Controler comment :
            <p class="value">{{ order.controler_comment }}</p>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}