{% extends 'base.html' %}

{% block content %}
<div class="orders-detail">
    <p><a href="{% url 'order-list' %}">&lt;&lt; Retour</a></p>
    <div>
        <h2 class="{{ order.controler_auth }}">{{ order.controler_auth }}</h2>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td>Order_id :</td>
                    <td class="value">{{ order.order_id }}</td>
                    <td>Date :</td>
                    <td class="value">{{ order.date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td>Asker_login :</td>
                    <td class="value">{{ order.asker_login }}</td>
                    <td>Branch :</td>
                    <td class="value">{{ order.branch }}</td>
                </tr>
                <tr>
                    <td>Process :</td>
                    <td class="value">{{ order.process }}</td>
                </tr>
                <tr>
                    <td>Purchase_type :</td>
                    <td class="value">{{ order.purchase_type }}</td>
                </tr>
                <tr>
                    <td>Payment method :</td>
                    <td class="value">{{ order.payment_method }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td>Product :</td>
                    <td class="value">{{ order.product }}</td>
                    <td>Unit price :</td>
                    <td class="value">{{ order.unit_price }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Price :</td>
                    <td class="value">{{ order.price }}</td>
                </tr>
                <tr>
                    <td>Vendor :</td>
                    <td class="value">{{ order.vendor }}</td>
                </tr>
                <tr>
                    <td>Delivery date :</td>
                    <td class="value">{{ order.delivery_date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            Asker comment :
            <p class="value">{{ order.asker_comment }}</p>
        </div>
        <div class="box">
            <table>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>controler_login :</td>
                    <td class="value">{{ order.controler_login }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if order.controler_auth == "Pending" and controler_order %}
        <form method="post" action="{% url 'order-pending' id=order.id %}">
            {% csrf_token %}
            <div class="box">
                <label class="control-label" for="{{ auth.controler_comment.id_for_label }}">{{ auth.controler_comment.label }}</label>
                <p class="value" size="254">{{ auth.controler_comment }}</p>
            </div>
            <div class="box_auth">
                <input type="submit" id="{{ auth.controler_auth.id_for_label }}" name="{{ auth.controler_auth.name }}" value="Authorized">
                <input type="submit" id="{{ auth.controler_auth.id_for_label }}" name="{{ auth.controler_auth.name }}" value="Refused">
            </div>
        </form>
        {% elif order.controler_comment %}
        <div class="box">
            Controler comment :
            <p class="value">{{ order.controler_comment }}</p>
        </div>
        {% endif %}
        <h2 class="{{ order.controler_auth }}">{{ order.controler_auth }}</h2>
    </div>
</div>
</div>
{% endblock %}