* { 
    background: white ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header*/
header{
	background: black ;
	height: 4em;
}
header h1{
    background: black ;
    color: white;
}

p{
    background: grey;
    padding: 0.5em;
}

ul{
    background: gray;
    padding: 0.5em;
}

li{
	list-style-type: none;
    background: purple ;
    border-radius: 1em ;
    border: 0.1em solid white;
    
	margin: 0.5em;
	padding: 1em;
}