{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>my Company</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
        <header>
            <div class = "col">
                <img src="{% static 'logo_entreprise.png' %}" alt="logo_entreprise" width="200"/>
            </div>
            <div class = "col">
                <h2>{% block title %}{% endblock %}</h2>
            </div>
            <div class = "col">
                {% if user.is_authenticated %}
                    <p><a href="{% url 'logout' %}"> {{ request.user }} / Log out</a></p>
                {% else %}
                    <h4><a href="{% url 'signup' %}">Sign up</a> / <a href="{% url 'login' %}">Log in</a></h4>
                {% endif %}
            </div>
        </header>
        <div class = "main">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'order-list' %}">Order list</a>
                    </li>
                    <li>
                        <a href="{% url 'order-create' %}">Create order</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{% url 'group-admin' %}">Group</a>
                    </li>
                </ul>
            </nav>
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            My Company application Version 1.0 by Alexandre Gimeno 2023.
        </footer>
    </body>
</html>