* { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

/*header*/
header{ 
    background-color: white ;
    color: black;
    display: flex;

}
.col {
    float: left;
    width: 30%;
    text-align: center;
    border: 1px solid green;
}

/*main*/
.main{
    width: 90%;
    border: 1px solid green;
}

/*navigation*/
nav{
    float: left;
    width: 15%;
    height: 100%;
    background-color: #ccc;
    padding: 20px;
}
nav li{
    list-style-type: none;
}

/*authentification*/
.login {
    display: flex;
    justify-content: center;
}
.login div{   
    width: 30%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}
.signup{
    display: flex;
    justify-content: center;
}
.signup div{
    text-align: center;   
    width: 30%;
    border: 1px solid black;
    padding: 20px;
}
.signup div p{   
    text-align: left;
}

/*purchase_auth*/
.orders-list{
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid purple;
}
.orders-list div{
    width: 100%;
}
.orders-list table{
    width: 100%;
    border: 1px solid purple;
}
.orders-list tr[value="Pending"] {
    background-color: orange;
}

.orders-list td{
    text-align: center;
    padding: 5px
}
.orders-list tr h3{
    text-align: left;
    padding-top: 20px;
}

.order-create{
    display: flex;
    justify-content: left;
    padding: 20px;
    border: 1px solid purple; 
}
.orders-create div{
    width: 100%;
}

/*.orders-list li{
    list-style-type: none;
    background: orange ;
    border-radius: 5px ;
    border: 1px solid black;
	padding: 5px;
}
.order-container{
    display: flex;
    flex-wrap: wrap;
}
.order-box {
    width: 25%;
    background-color: #333;
    color: white;
    text-align: center;
}*/

/*footer*/
footer {
    clear: both;
    background-color: #1B1464;
    color: white;
    padding: 10px;
    text-align: center;
}

/*
section.p{
    background: grey;
    padding: 0.5em;
    margin: 0;
}

order-list.ul{
    background: gray;
    padding: 0.5em;
    margin: 0;
}

order-list.li{
	list-style-type: none;
    background: red ;
    border-radius: 1em ;
    border: 0.1em solid white;
    
	margin: 0.5em;
	padding: 1em;
}


footer {
        clear: both;
        background-color: #333;
        color: white;
        padding: 10px;
        text-align: center;
      }*/