* { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

/*header*/
header{ 
    background-color: white ;
    color: black;
    display: flex;

}
header .col {
    float: left;
    width: 30%;
    text-align: center;
    border: 1px solid green;
}

/*main*/
.main{
    width: 90%;
    border: 1px solid green;
}

/*navigation*/
nav{
    float: left;
    width: 15%;
    height: 100%;
    background-color: #ccc;
    padding: 20px;
}
nav li{
    list-style-type: none;
}

/*authentification*/
.login {
    display: flex;
    justify-content: center;
}
.login div{   
    width: 30%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}
.signup{
    display: flex;
    justify-content: center;
}
.signup div{
    text-align: center;   
    width: 30%;
    border: 1px solid black;
    padding: 20px;
}
.signup div p{   
    text-align: left;
}

/*purchase_auth--------------------------------*/
/*order_list*/
.orders-list{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.orders-list div{
    width: 100%;
}
.orders-list table{
    width: 100%;
    padding: 10px;
    background-color: beige;
}
.orders-list tr[value="Pending"] {
    background-color: orange;
}
.orders-list tr[value="Authorized"] {
    background-color: green;
}
.orders-list tr[value="Refused"] {
    background-color: red;
}
.orders-list td{
    text-align: left;
    padding: 5px
}
.orders-list tr h3{
    text-align: left;
    padding-top: 20px;
}

/*order-create*/
.order-create{
    display: flex;
    justify-content: left;
    padding: 20px;
}
.orders-create div{
    width: 100%;
}

/*order-detail*/
.orders-detail{
    display: grid;
    padding:10px;
}
.orders-detail table{
    width: 100%;
}
.orders-detail div{
    padding: 10px;
    margin-bottom: 10px;
    background-color: beige;
}
.orders-detail .box{
    padding: 10px;
    margin-bottom: 10px;
    background-color: beige;
    border: 1px solid #1B1464;
}
.orders-detail td{
    
    padding: 5px;
    width: 25%;
}
.orders-detail td[value="value"]{
    background-color: white;
}
.orders-detail .value{
    background-color: white;
}
.orders-detail .Pending{
    padding: 15px;
    text-align: center;
    background-color: orange;
}
.orders-detail .Authorized{
    padding: 15px;
    text-align: center;
    background-color: green;
}
.orders-detail .Refused{
    padding: 15px;
    text-align: center;
    background-color: red;
}
/*footer*/
footer {
    clear: both;
    background-color: #1B1464;
    color: white;
    padding: 10px;
    text-align: center;
}